/* Empty. Add your own CSS if you like */

/*LOGIN PAGE*/

.login-container {
  width: 100%;
}

.select-button {
  width: 100px;
}

.select-login {

}

.login-wrap {
  border: 1px solid black;
  width: 16em;
  margin-left: 38px;
}

.login-type {
  display: inline-block;
  list-style-type: none;
}

.login-div {
  margin-left: 7px;
  margin-top: 5px;
  width: 15em;
}

.login-input {
 margin-top: 5px;
}

/*GUARDIAN PAGE*/

.guardian-individual-student {
  border: 1px solid black;
}