/* Empty. Add your own CSS if you like */

/*LOGIN PAGE*/

.login-type {
  float: left;
  list-style-type: none;
  border-right: 1px solid black;
}

.login-type-no-border {
  float: left;
  list-style-type: none;
}

.login-div {
  margin-left: 5px;
  width: 15em;
  border: 1px solid black;
}

.login-input {
  width: 80%;
  height: 5px;
  border: 1px solid black;
}

/*GUARDIAN PAGE*/

.guardian-individual-student {
  border: 1px solid black;
}