<ion-view view-title="Admin Dashboard">
  <ion-content>

  <ul ng-init='studentCount = true'>
    <button ng-click='teacherCount = !teacherCount; studentCount = false; classCount = false' class='btn btn-success admin-button'>New Teacher</button>
    <button ng-click='studentCount = !studentCount; teacherCount = false; classCount = false' class='btn btn-success admin-button'>New Student</button>
    <button ng-click='classCount = !classCount; teacherCount = false; studentCount = false' class='btn btn-success admin-button'>New Class</button>
  </ul>

  <div class='login-wrap'>
        <div class='login-div' ng-show='teacherCount'>
          <h3>Add A Teacher</h3>
          <form class="list">
            <label class="item item-input">Email: 
            <input type="text" placeholder="Admin email...">
            </label>

            <label class="item item-input">Password:    
            <input type="password" placeholder="Admin password...">
            </label>
            <div style='clear:both'></div>
            <br>
            <a href='#/admin'><button class='btn btn-primary' ng-click='adminLogin()'>Login</button></a>
          </form>
        </div>
      </div>
      <div class='login-wrap'>
        <div class='login-div' ng-show='studentCount'>
          <h3>Add A Student</h3>
          <form class="list">
            <label class="item item-input">Email: 
            <input type="text" placeholder="Guardian email...">
            </label>

            <label class="item item-input">Password: 
            <input type="password" placeholder="Guardian password...">
            </label>
            <div style='clear:both'></div>
            <br>
            <a href='#/guardian'><button class='btn btn-primary' ng-click='guardianLogin()'>Login</button></a>
          </form>
        </div>
      </div>
      <div class='login-wrap'>
        <div class='login-div' ng-show='classCount'>
          <h3>Add A Class</h3>
          <form class="list">
            <label class="item item-input">Email: 
            <input type="text" placeholder="Teacher email...">
            </label>

            <label class="item item-input">Password: 
            <input type="password" placeholder="Teacher password...">
            </label>
            <div style='clear:both'></div>
            <br>
            <a href='#/teacher'><button class='btn btn-primary' ng-click='teacherLogin()'>Login</button></a>
          </form>
        </div>
      </div>

  </ion-content>
</ion-view>