<ion-view view-title="Guardian Dashboard">
  <ion-content>

  <h1>Your <strong>Students: </strong></h1>
  <div class='guardian-student-container'>
    <div ng-init='showStudent = false' class='guardian-individual-student' ng-repeat='student in students'>
      <p>{{student.firstName}}</p>
      <input type='checkbox' ng-model='showStudent' name='show-student'> Show Info<br>
      <div ng-show='showStudent === true'>
        <div ng-repeat='activity in activities'>
          <div ng-if='activity.studentid === student.id'>
            <table border="1" style="width:100%">
              <tr>
                <td><strong>Activity: </strong>{{activity.name}}</td>
                <td><strong>Description: </strong>{{activity.description}}</td> 
                <td><strong>Activity Type: </strong>{{activity.type}}</td>
                <td><strong>Time Started: </strong>{{activity.startTime}}</td>
                <td><strong>Time Finished: </strong>{{activity.finishTime}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  </ion-content>
</ion-view>