<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to edU</h2>
    <h4>
    Educate, Develop, Understand
    </h4>
    <p>
      Our vision is to provide guardians and teachers with an efficient platform to track their child's progress in Early Childhood Education. edU strives to provide the teachers the best way possible to Educate and Develop little minds, while each guardian can Understand the process.
    </p>
    <!-- <p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p> -->
  </ion-content>
</ion-view>
